$header-bg:linear-gradient(45deg,rgb(47, 8, 66),rgb(0, 91, 107),rgb(59, 19, 19));
$headlines:cursive;
/*Kan bruke variabler slik*/
$header-bg:linear-gradient(45deg,rgb(47, 8, 66),rgb(0, 91, 107),rgb(59, 19, 19));
$headlines:cursive;
$mobile:800px; 
$headlines:cursive;